<div class="container">

    <div class="main-heading">Presentations</div>
    
    <div class="videos">

        <div class="video">
            <div class="video-heading">Project Pitch</div>
            <iframe width="650" height="400" src="https://www.youtube.com/embed/tr5UX8fp2h0?si=ekorrQ8vk8u2Hpwk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="650" height="400" src="https://www.youtube.com/embed/LXQnNULohyw?si=qlqmW6KzHZAwr8v5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="video-heading">Show and Tell 1</div>
            <div class="video-heading">Show and Tell 2</div>
            <iframe width="650" height="400" src="https://www.youtube.com/embed/z5b32MzUtfc?si=7TuiEPCfR1kPxlN3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="650" height="400" src="https://www.youtube.com/embed/hRfHzhSZ1qk?si=xNqb1lTbaabAhCRu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="video-heading">Final Presentation</div>
        </div>

    </div>
</div>