<div class="container">
    <div class="main-heading">Key Features</div>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-img">
                <img class="img" src="../../assets/alert.png" alt="logo" />
            </div>
            <div class="feature-heading">Real-Time Alerts</div>
            <div class="feature-description">Stay informed with location-based, instant notifications</div>
        </div>

        <div class="feature">
            <div class="feature-img">
                <img class="img" src="../../assets/map.png" alt="logo" />
            </div>
            <div class="feature-heading">Ineractive Map Integration</div>
            <div class="feature-description">View and track alerts on an intuitive map.</div>
        </div>

        <div class="feature">
            <div class="feature-img">
                <img class="img" src="../../assets/community.png" alt="logo" />
            </div>
            <div class="feature-heading">Community-Driven Collaboration</div>
            <div class="feature-description">Connect, share updates, and resolve issues together.</div>
        </div>
    </div>
</div>