.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    gap: 70px;
    margin-top: 30px;
}

.feature-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.main-heading{
    font-size: 2.5vw;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color: #053689;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
}

.feature-heading{
    font-size: 1.5vw;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color: #053689;
}

.feature-description{
    font-size: 1.2vw;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    width: 55%;
    text-align: center;
}

.img{
    width: 10vw;
    height: 10vw;
}