<app-navbar class="navbar"></app-navbar>
<app-feature class="feature" id="home"></app-feature>
<app-about-component class="about" id="features"></app-about-component>
<app-presentation id="presentation"></app-presentation>

<div class="team" id="team">
    <div class="heading">Our Team</div>
    <div class="team-grp">
        <div class="member">
            <div class="name">Ketan Dhingra</div>
            <div class="duties">
                <div class="duty"> - REST API Implementation</div>
                <div class="duty"> - Google API Integration</div>
                <div class="duty"> - GeoFence Implementation</div>
                <div class="duty"> - Create/Display Alert</div>
                <div class="duty"> - Project Diagrams</div>
                <div class="duty"> - Presentation Videos</div>
                <div class="duty"> - Project Website</div>
            </div>
        </div>
        <div class="member">
            <div class="name">Harveer Virk</div>
            <div class="duties">
                <div class="duty"> - UI Design & Planning</div>
                <div class="duty"> - UI Structure Implementation</div>
                <div class="duty"> - Neighbourhood Management</div>
                <div class="duty"> - Create/Display Alert</div>
                <div class="duty"> - Presentation Slides</div>
                <div class="duty"> - Testing & Debugging</div>
            </div>
        </div>
        <div class="member">
            <div class="name">Karamveer Singh</div>
            <div class="duties">
                <div class="duty"> - User Signup and Authentication</div>
                <div class="duty"> - User Profile Management</div>
                <div class="duty"> - Backend and DB Deployment</div>
                <div class="duty"> - User Login and Signup Pages</div>
                <div class="duty"> - Notification Service</div>
                <div class="duty"> - Multipe UI Components</div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-content">© Copyright 2024 | NeighbourLink | All Rights Reserved</div>
</div>