<app-navbar class="navbar"></app-navbar>
<app-feature class="feature" id="home"></app-feature>
<app-about-component class="about" id="features"></app-about-component>
<app-presentation id="presentation"></app-presentation>

<div class="team" id="team">
    <div class="heading">Our Team</div>
    <div class="names">
        <div class="member-name">- Harveer Virk</div>
        <div class="member-name">- Ketan Dhingra</div>
        <div class="member-name">- Karamveer Singh</div>
    </div>
</div>

<div class="footer">
    <div class="footer-content">© Copyright 2024 | NeighbourLink | All Rights Reserved</div>
</div>